h1 {
    color:#ff8c00;
}

h2 {
    color: #FF0000;
}

table {
    border-collapse: collapse;
}

table th, table td {
    padding: 5px;
}

#toy1{
    background:oldlace;
    width:190px;
    height:300px;
    position:absolute;
    left:190px;
    top:100px;
}
.toy2{
    background:oldlace;
    width:190px;
    height:400px;
    position:absolute;
    left:15%;
    top:10%;
}